<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>217587834627-aqfpp8nsomvc0b8matsg42v5713ngq9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217587834627-aqfpp8nsomvc0b8matsg42v5713ngq9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAf208exUhwbZ194WULGNETqOIydGoT7gs</string>
	<key>GCM_SENDER_ID</key>
	<string>217587834627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pttict.topcpai</string>
	<key>PROJECT_ID</key>
	<string>top-comx</string>
	<key>STORAGE_BUCKET</key>
	<string>top-comx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217587834627:ios:c8d2d1bdaa07b92d</string>
	<key>DATABASE_URL</key>
	<string>https://top-comx.firebaseio.com</string>
</dict>
</plist>